@model FuncionarioModel
@{
    ViewData["Title"] = "Cadastrar Funcionário";
}

<div class="text-center">

    <h1 class="display-4"> Cadastrar Funcionario</h1>

</div>

<form asp-controller="Funcionario" asp-action="Cadastrar" method="post">
    <div class="form-group">
        <label for="nomeFuncionario">Nome do Funcionario</label>
        <input type="text" asp-for="nomeFuncionario" class="form-control" placeholder="Digite o nome do funcionario">
        @Html.ValidationMessageFor(x => x.nomeFuncionario)
    </div>
    <div class="form-group">
        <label for="dtAdmissao">Data de Admissão</label>
        <input type="datetime" asp-for="dtAdmissao" class="form-control" placeholder="Digite a data de admissão">
        @Html.ValidationMessageFor(x => x.dtAdmissao)
    </div>
    <div class="form-group">
        <label for="dtTermino">Data de Término</label>
        <input type="datetime" asp-for="dtTermino" class="form-control" placeholder="Digite a data de termino">
        @Html.ValidationMessageFor(x => x.dtTermino)
    </div>
    <div class="form-group">
        <label for="dtDesligamento">Data de Desligamento</label>
        <input type="datetime" asp-for="dtDesligamento" class="form-control" placeholder="Digite a data de desligamento">
        @Html.ValidationMessageFor(x => x.dtDesligamento)
    </div>
    <div class="form-group">
        <label for="cargo">Cargo</label>
        <input type="text" asp-for="cargo" class="form-control" placeholder="Digite o cargo do funcionário">
        @Html.ValidationMessageFor(x => x.cargo)
    </div>

    <div class="form-group">
        <label for="salario">Salário</label>
        <input type="text" asp-for="salario" class="form-control" placeholder="Digite o salário do funcionário">
        @Html.ValidationMessageFor(x => x.salario)
    </div>

    <div class="form-group">
        <label for="pagamento">Forma de Pagamento</label>
        <input type="text" asp-for="pagamento" class="form-control">
        @Html.ValidationMessageFor(x => x.pagamento)
    </div>
    <div class="form-group">
        <label for="banco">Banco</label>
        <input type="text" asp-for="banco" class="form-control" placeholder="Informe Banco do funcionário">
        @Html.ValidationMessageFor(x => x.banco)
    </div>
    <div class="form-group">
        <label for="agencia">Agencia</label>
        <input type="text" asp-for="agencia" class="form-control" placeholder="Informe a Agencia do funcionário">
        @Html.ValidationMessageFor(x => x.agencia)
    </div>
    <div class="form-group">
        <label for="conta">Conta</label>
        <input type="text" asp-for="conta" class="form-control" placeholder="Informe a conta do funcionário">
        @Html.ValidationMessageFor(x => x.conta)
    </div>

    <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
    <a class="btn btn-secondary btn-block" asp-controller="RH" asp-action="Index" role="button">Voltar</a>
</form>
