@model List<FuncionarioModel>
@{
    ViewData["Title"] = "Listagem de Funcionarios";
}

<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="RH" asp-action="Cadastrar"> Cadastrar novo Funcionario</a>
    </div>

    <br />

    <h1 class="display-4"> Funcionario Cadastrados em Sistema</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Dt Admissao</th>
                <th scope="col">Dt Termino</th>
                <th scope="col">Dt Desligamento</th>
                <th scope="col">Cargo</th>
                <th scope="col">Salário</th>

                <th scope="col">CEP</th>
                <th scope="col">Número</th>
                <th scope="col">Bairro</th>
                <th scope="col">Cidade</th>
                <th scope="col">Contato</th>
                <th scope="col">Telefone</th>
                <th scope="col">Email</th>

                <th scope="col">Forma Pagamento</th>
                <th scope="col">Banco</th>
                <th scope="col">Agencia</th>
                <th scope="col">Conta</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (FuncionarioModel funcionario in Model)
                {
                    <tr>
                        <th scope="row">@funcionario.id</th>
                        <td>@funcionario.nomeFuncionario</td>
                        <td>@funcionario.dtAdmissao</td>
                        <td>@funcionario.dtTermino</td>
                        <td>@funcionario.dtDesligamento</td>
                        <td>@funcionario.cargo</td>
                        <td>@funcionario.salario</td>

                        <td>@funcionario.descricao</td>
                        <td>@funcionario.cep</td>
                        <td>@funcionario.numero</td>
                        <td>@funcionario.bairro</td>
                        <td>@funcionario.cidade</td>
                        <td>@funcionario.contato</td>
                        <td>@funcionario.telefone</td>
                        <td>@funcionario.email</td>

                        <td>@funcionario.pagamento</td>
                        <td>@funcionario.banco</td>
                        <td>@funcionario.agencia</td>
                        <td>@funcionario.conta</td>

                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-primary" asp-route-id="@funcionario.id" asp-controller="Funcionario" asp-action="Alterar">Alterar</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@funcionario.id" asp-controller="Funcionario" asp-action="Excluir">Excluir</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

