@model List<ClienteModel>
@{
    ViewData["Title"] = "Listagem de Clientes";
}

<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Cliente" asp-action="Cadastrar"> Cadastrar novo Cliente</a>
    </div>

    <br/>

    <h1 class="display-4"> Clientes Cadastrados em Sistema</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">E-mail</th>
                <th scope="col">Telefone</th>
                <th scope="col">Veículo</th>
                <th scope="col">Placa</th>
                <th scope="col">Modelo</th>
                <th scope="col">Cor</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (ClienteModel cliente in Model)
                {
                    <tr>
                        <th scope="row">@cliente.id</th>
                        <td>@cliente.nome</td>
                        <td>@cliente.email</td>
                        <td>@cliente.telefone</td>
                        <td>@cliente.veiculo</td>
                        <td>@cliente.placa</td>
                        <td>@cliente.modelo</td>
                        <td>@cliente.cor</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-primary" asp-route-id="@cliente.id" asp-controller="Cliente" asp-action="Alterar">Alterar</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@cliente.id" asp-controller="Cliente" asp-action="Excluir">Excluir</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

