@model ClienteModel
@{
    ViewData["Title"] = "Cadastrar Cliente";
}

<div class="text-center">

    <h1 class="display-4"> Cadastrar Cliente</h1>

</div>

<form asp-controller="Cliente" asp-action="Cadastrar" method="post">
    <div class="form-group">
        <label for="nome">Nome do Cliente</label>
        <input type="text" asp-for="nome" class="form-control" placeholder="Digite o nome do cliente">
        @Html.ValidationMessageFor(x => x.nome)
    </div>
    <div class="form-group">
        <label for="pais">País</label>
        <input type="text" asp-for="pais" class="form-control" placeholder="Digite o País do cliente">
        @Html.ValidationMessageFor(x => x.pais)
    </div>
    <div class="form-group">
        <label for="estado">Estado</label>
        <input type="text" asp-for="estado" class="form-control" placeholder="Digite o estado do cliente">
        @Html.ValidationMessageFor(x => x.estado)
    </div>
    <div class="form-group">
        <label for="pessoa">Tipo da pessoa</label>
        <select name="pessoa" id="pessoa">
            <option value="juridica"> Juridica</option>
            <option value="fisica"> Fisica</option>
        </select>

    </div>
    <div class="form-group">
        <label for="idfederal">Dados</label>
        <input type="text" asp-for="idfederal" class="form-control" placeholder="Digite o CPF ou CNPJ">
        @Html.ValidationMessageFor(x => x.idfederal)
    </div>
    <div class="form-group">
        <label for="abrev">Nome abreviado</label>
        <input type="text" asp-for="abrev" class="form-control" placeholder="Digite o nome abreviado do cliente">
        @Html.ValidationMessageFor(x => x.abrev)
    </div>

   

    <div class="form-group">
        <label for="recebimento">Forma de Pagamento</label>
        <input type="text" asp-for="recebimento" class="form-control">
        @Html.ValidationMessageFor(x => x.recebimento)
    </div>
    <div class="form-group">
        <label for="banco">Banco</label>
        <input type="text" asp-for="banco" class="form-control" placeholder="Informe Banco do cliente">
        @Html.ValidationMessageFor(x => x.banco)
    </div>
    <div class="form-group">
        <label for="agencia">Agencia</label>
        <input type="text" asp-for="agencia" class="form-control" placeholder="Informe a Agencia do cliente">
        @Html.ValidationMessageFor(x => x.agencia)
    </div>
    <div class="form-group">
        <label for="conta">Conta</label>
        <input type="text" asp-for="conta" class="form-control" placeholder="Informe a conta do cliente">
        @Html.ValidationMessageFor(x => x.conta)
    </div>

    <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
    <a class="btn btn-secondary btn-block" asp-controller="Cliente" asp-action="Index" role="button">Voltar</a>
</form>