@model List<ClienteModel>
@{
    ViewData["Title"] = "Listar Cliente";
}

<div class="text-center">
    <h1 class="display-4"> Clientes Cadastrados</h1>

    <br/>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Razão</th>
            <th scope="col">País</th>
            <th scope="col">Estado</th>
            <th scope="col">Tipo Pessoa</th>
            <th scope="col">Id Federal</th>
            <th scope="col">Nome Abreviado</th>
            <th scope="col">Tipo Recebimento</th>
            <th scope="col">Banco</th>
            <th scope="col">Agencia</th>
            <th scope="col">Conta</th>
        </tr>
        </thead>
        <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (ClienteModel cliente in Model)
            {
                <tr>
                    <th scope="row">@cliente.idCli</th>
                    <td>@cliente.razao</td>
                    <td>@cliente.pais</td>
                    <td>@cliente.estado</td>
                    <td>@cliente.pessoa</td>
                    <td>@cliente.idfederal</td>
                    <td>@cliente.nome_abrev</td>
                    <td>@cliente.tipo_recebimento</td>
                    <td>@cliente.banco</td>
                    <td>@cliente.agencia</td>
                    <td>@cliente.conta</td>
                    <td>@cliente.idEnd</td>

                    <td>
                        <div class="btn-group" role="group">
                            <a role="button" class="btn btn-primary" asp-route-id="@cliente.idCli" asp-controller="Cliente" asp-action="Alterar">Alterar</a>
                            <a role="button" class="btn btn-danger" asp-route-id="@cliente.idCli" asp-controller="Cliente" asp-action="Excluir">Excluir</a>
                        </div>
                    </td>
                </tr>
            }
        }
        </tbody>

    </table>

    <a class="btn btn-secondary btn-block" asp-controller="Cliente" asp-action="Index" role="button">Voltar</a>

</div>