@model CARModel
@{
    ViewData["Title"] = "Módulo de Contas a Receber";
}

<div class="text-center">
    <h1 class="display-4">Módulo de Contas a Receber</h1>
    <br/>

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#cadastrarCAR">Cadastrar nova Conta A Receber</button>
    </div>
    <br/>

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-info btn-lg" role="button" asp-controller="Administrativo" asp-action="ListarCAR">Listar registros de Contas A Receber</a>
    </div>
</div>

<div class="modal modal-xl center fade" id="cadastrarCAR" role="dialog">
    <div class="modal-dialog modal-xl">
        <div class="modal-content modal-xl">
            <div class="modal-header">
                <h4 class="modal-title">Cadastrar nova Conta A Receber</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form asp-controller="Administrativo" asp-action="CadastrarCAR" method="post">
                <div class="modal-body modal-xl modal-dialog-scrollable flex-column">

                    <div class="form-group">
                        <label for="dtTransacao">Data da Transação</label>
                        <input type="datetime" asp-for="dtTransacao" class="form-control">
                        @Html.ValidationMessageFor(x => x.dtTransacao)
                    </div>
                    <div class="form-group">
                        <label for="especie">Espécie</label>
                        <input type="text" asp-for="especie" class="form-control">
                        @Html.ValidationMessageFor(x => x.especie)
                    </div>
                    <div class="form-group">
                        <label for="serie">Série</label>
                        <input type="number" asp-for="serie" class="form-control">
                        @Html.ValidationMessageFor(x => x.serie)
                    </div>
                    <div class="form-group">
                        <label for="titulo">Titulo</label>
                        <input type="text" asp-for="titulo" class="form-control">
                        @Html.ValidationMessageFor(x => x.titulo)
                    </div>
                    <div class="form-group">
                        <label for="valorTitulo">Valor do Título</label>
                        <input type="text" asp-for="valor" class="form-control">
                        @Html.ValidationMessageFor(x => x.valor)
                    </div>
                    <div class="form-group">
                        <label for="dtVencimento">Data de Vencimento</label>
                        <input type="datetime" asp-for="dtVencimento" class="form-control">
                        @Html.ValidationMessageFor(x => x.dtVencimento)
                    </div>
                    <div class="form-group">
                        <label for="dtEmissao">Data de Emissão</label>
                        <input type="datetime" asp-for="dtEmissao" class="form-control">
                        @Html.ValidationMessageFor(x => x.dtEmissao)
                    </div>
                    <div class="form-group">
                        <label for="moeda">Tipo de moeda</label>
                        <select name="moeda" id="moeda">
                            <option value="real"> Real</option>
                            <option value="dolar"> Dolar</option>
                        </select>

                    </div>

                    <div class="form-group">
                        <label for="parcela">Parcela</label>
                        <input type="number" asp-for="parcela" class="form-control" placeholder="Número de parcelas">
                        @Html.ValidationMessageFor(x => x.parcela)
                    </div>
                    <div class="form-group">
                        <label for="moeda">Status</label>
                        <select name="status" id="moeda">
                            <option value="vencer"> A vencer</option>
                            <option value="vencido"> Vencido</option>
                            <option value="pago"> Pago</option>
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
                </div>
            </form>
        </div>
    </div>
</div>