@model ProdutoModel
@{
    ViewData["Title"] = "Alterar Produto";
}

<div class="text-center">

    <h1 class="display-4"> Alterar dados do Produto</h1>

</div>

<form asp-controller="Produto" asp-action="Alterar" method="post">

    <input type="hidden" asp-for="idProd"/>
    @Html.ValidationMessageFor(x => x.idProd)

    <div class="form-group">
        <label for="nome">Nome do Produto</label>
        <input type="text" asp-for="nome" class="form-control" placeholder="Digite o nome do produto">
        @Html.ValidationMessageFor(x => x.nome)
    </div>
    <div class="form-group">
        <label for="valor_aquisicao">valor_aquisicao</label>
        <input type="number" asp-for="valor_aquisicao" class="form-control" placeholder="Digite o preço da aquisiçao">
        @Html.ValidationMessageFor(x => x.valor_aquisicao)
    </div>
    <div class="form-group">
        <label for="item">Itens Empenhados</label>
        <input type="text" asp-for="item" class="form-control">
        @Html.ValidationMessageFor(x => x.item)
    </div>

    <div class="form-group">
        <label for="descricao">Descricao</label>
        <input type="text" asp-for="descricao" class="form-control" placeholder="Digite a descrição">
        @Html.ValidationMessageFor(x => x.descricao)
    </div>
    <div class="form-group">
        <label for="preco_saida">Preço</label>
        <input type="number" asp-for="preco_saida" class="form-control" placeholder="Digite o preço da venda">
        @Html.ValidationMessageFor(x => x.preco_saida)
    </div>
    <div class="form-group">
        <label for="Id Item">Id Item</label>
        <input type="number" asp-for="idItem" class="form-control" placeholder="Digite os ids dos Itens">
        @Html.ValidationMessageFor(x => x.idItem)
    </div>


    <button type="submit" class="btn btn-primary btn-block">Alterar</button>
    <a class="btn btn-secondary btn-block" asp-controller="Produto" asp-action="Index" role="button">Voltar</a>
</form>